<%= render "govuk_component/title", title: @taxon.title %>

<div>
  <% if @taxon.children? %>
    <h2>Sub Topics</h2>
    <ul>
      <% @taxon.child_taxons.each do |child_taxon| %>
        <li>
          <%= link_to(child_taxon["title"], "/topics#{child_taxon["base_path"]}" ) %>
          <span class="sub-topics-tagged-content-count">tagged content: <%= @taxon.tagged_content_count(child_taxon["content_id"]) %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div>
  <% if @tagged_content.search_results_count > 0 %>
    <h2>Content Items - <%= @tagged_content.search_results_count %></h2>
    <ul>
      <% @tagged_content.search_results.each do |content_item| %>
        <li>
          <%= link_to(content_item["title"], "#{content_item["link"]}" ) %>
          <span class="topics-document-type-stats"><%= content_item["format"] %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
